*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

:root{
    --body-color:rgb(204, 195, 195);
    --color-white:rgba(250,250,250);
    --text-color:rgba(38,37,37);
    --first-color:rgba(110,87,224);
    --first-shadow:rgba(0,0,0,0.1);

    --box-color:#fff;
    --nav-color:#fff;
    --nav-icon:#000;
    --logo-color:#000000;

    --text-color:#444444;
    --color-white:#242526;

    --icon-color:#242526;
    --node-color:#ccc;
}

body{
    background: var(--body-color);
}

.container{
    width: 100%;
    position: relative;
}

html{
    scroll-behavior: smooth;
}


/* nav bar */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav{
    background-color: #f8fcf8;
    box-shadow: 2px 2px 5px 3px;
    /* position: fixed; */
    width: 100%;
    font-size: 24px;
    border: 5px solid black;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-around; */
}

nav li{
    height: 120px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    margin-top: 30px;
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
}

nav a:hover{
    background-color: rgb(118, 230, 230);
}

.sidebar{
    position: fixed;
    height: 90vh;
    width: 250px;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    z-index: 999;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
}

.sidebar li,a{
    width: 100%;
}

/* main */

.wrapper{
    padding-inline: 2vh;
}

.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 52%;
    padding-left: 20px;
    margin-top: 0%;
}

.featured-text .hello{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.featured-name{
    margin-left: 50px;
    font-size: 60px;
    font-weight: 500;
    margin-block: 20px;
    color:#f8fcf8;
    margin-bottom: 20px;
}

.typedtext{
    color: #8749f2;
    /* font-size: 8px; */
    font-weight: 600;
    text-transform: capitalize;
}

.text-info{
    margin-left: 70px;
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.textbtn{
    border-radius: 8px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.btn{
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    background: #8749f2;
    font-weight: 500;
    transition: all 0.5s ease;
}

.textbtn .btn{
    color: white;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.social-icons a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    font-size: 2.5rem;
    border-radius: 50%;
    color: white;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: rgb(226, 209, 209);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px rgb(235, 228, 228);
    
}

.featured-img{
    display: flex;
    justify-content: right;
    /* align-items: center; */
    min-height: 80vh;
    width: 100%;
}

.img{
    margin-top: 0%;
    width: 600px;
    height: 650px;
    /* border-radius: 40% 40% 40% 40%; */
    overflow: hidden;
    animation: img 5s ease-in-out infinite;
}

.img img{
    width: 600px;
    height: 700px;
    object-fit: cover;
    background: transparent;
}
@keyframes img{
    30%{
        transform: translateY(30px);
    }
}


.section{
    padding-block: 6em;
    padding-inline: 2vh;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:50px;
}

.col{
    display: flex;
    width: 70%;
    height: 500px;
}

.header{
    text-align: center;
    margin-bottom: 5em;
}

.header h1{
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
}


#Aboutme{
    background: rgb(248, 248, 244);
}
.about-info{
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 45px 45px;
    padding-inline: 35px;
    border: 0px solid white;
    background: transparent;
    box-shadow: 5px 15px 15px black;
    border-radius: 20px;
}

.about-me{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.about-info figcaption{
    width: 100%;
    padding: 25px;
    position: relative;
}

.about-me .profile{
    border-radius: 50%;
    position: absolute;
    bottom: 90%;
    left: 20px;
    z-index: 1;
    background-color: white;
    max-width: 120px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.row h1{
    text-align: center;
    font-size: 30px;
}


.info{
    display: flex;
    gap: 30px;
    text-align: right;
}

.about-me h3{
    font-size: 25px;
    
}

.about-info .about-me-btn{
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    border: 10px;
    background: #8749f2;
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
    transition: all 2s ease;
    border-radius: 20px;
}


/* animation */

@keyframes appear{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}



.skill{
    position: relative;
    /* max-width: 600px; */
    height: 500px;
    width: 100%;
    background: transparent;
    box-shadow: 5px 10px 12px 5px black;
    padding: 10px 20px;
    border: 0px solid white;
    border-radius: 20px;
}

.skill .skill-box{
    width: 100%;
    margin: 25px 0px;
}

.skill-box .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    background: rgba(0,0,0,0.1);
}

.skill-box .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #8749f2;
    animation: progress 0.5s ease-in-out forwards;
    opacity: 0;
}

.skill-per.html{
    animation-delay: 0.2s;
    width: 90%;
}

.skill-per.css{
    animation-delay: 0.2s;
    width: 80%;
}

.skill-per.javascript{
    animation-delay: 0.2s;
    width: 60%;
}

.skill-per.python{
    animation-delay: 0.2s;
    width: 80%;
}

.skill-per.AI{
    animation-delay: 0.2s;
    width: 70%;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: 20px;
    font-size: 10px;
    color: white;
    padding: 2px 6px;
    border-radius: 20px;
    background: #8749f2;
    z-index: 1;
}
#Projects{
    background: #000000;
    color: white;
}

.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 30px;
}

.project{
    height: 50%;
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    background: transparent;
    border-radius: 40px;
    box-shadow: 3px 7px 7px 3px white;
}
.pro_img{
    margin-left: 80px;
}
.pro_info{
    margin: 20px 40px 60px 80px;
    font-size: 29px;

}

.project img{
    margin-top: 20px;
    height: 350px;
    width: 350px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.project p{
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
}

.project h3{
    margin-bottom: 6px;
    font-size: 22px;
}


.topheader h1,h4{
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    
}

#contact{
    background: rgb(243, 238, 238);
}


.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    height: 380px;
    border: 2px solid black;
    box-shadow: 2px 8px 11px 2px;
    overflow: hidden;
    cursor: pointer;
    background-color: #8749f2;
    
}   

.contact >h2{
    color: rgb(85, 235, 105);
    margin-bottom: 20px;
}

.contact p{
    gap: 10px;
    color: rgb(85, 235, 105);
    margin-block: 5px;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
   
}

.form-input{
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid rgb(5, 4, 4);
    padding-inline: 20px;
    border-radius: 10px;
}


.subject{
    width: 100%;
    height: 55px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding-inline: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}


textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    outline: none;
    resize: none;
}

.form-btn .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8749f2;
    width: 120px;
    font-size: 20px;
    height: 50px;
    margin-left: 40%;
    border-radius: 20px;
    color: white;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    padding-block: 40px 60px;
    background: #000000;
}

.middle-footer .footer_menu{
    display: flex;
    color: white;
}

.footer_menulist{
    list-style: none;

}

.footer_menulist a{
    text-decoration: none;
    font-weight: 500;
    margin-inline: 20px;
    font-size: 25px;
}


.bottom-footer{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}


.contact img{
    height: 300px;
    width: 400px;
}


/* media queries */

@media only screen and (max-width:1024px){
    .featured-text{
        padding: 0;
    }
    .img,
    .img img{
        width: 320px;
        height: 320px;
    }
    .row{
        display: block;
        .col{
            margin-bottom: 20px;
        
 
        }
        .skill{
           
            margin-top: 25px;
            /* margin-left: 43px; */
        }
    }
    .project-container{
        display:flex;
        flex-direction:column
    }
}

@media only screen and (max-width:900px){
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .featured-img{
        order: 1;
        justify-content: center;
        min-height: 200px;
        width: 100%;
        margin-top: 100px;
    }
    .hello{margin-top: 50px;}

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info,.contact{
        width: 100%;
    }
    .project-container{
        display:flex;
        flex-direction:column;
    }  
}
.project img{
    margin-top: 20px;
}

.project h6{
    font-size: 15px;
}
.menubtn{
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .hideon{
        display: none;
    }
    .menubtn{
        display: block;
    }
    .featured-box {
        flex-direction: column;
        align-items: center;
    }
    .featured-img {
        margin-top: 20px;
        max-width: 100%;
    }

    .about-info {
        flex-direction: column;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .contact, .form {
        width: 100%;
        margin-bottom: 20px;
    }

    #header {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 480px) {
    .featured-text p {
        font-size: 28px;
        margin-left: 10px;
    }
    .col{
        height: 100%;
        margin-bottom: 10px;
    }
    .about-me h1{
        margin-top: 50px;

    }
    .featured-name {
        font-size: 24px;
    }

    .text-info {
        font-size: 16px;
    }

    .skill-box {
        margin-bottom: 20px;
    }

    .skill-box .title {
        font-size: 18px;
    }

    .skill-per {
        font-size: 14px;
    }

    .project {
        padding: 10px;
    }

    .form-input input, .text-area textarea {
        font-size: 14px;
    }

    .form-btn .btn {
        font-size: 14px;
    }

    footer h6 {
        font-size: 12px;
    }
}

